* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*body {
    display: grid;
    margin: 0;
    grid-template: auto;
}*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    grid-template-areas: "leftbar main";
    grid-gap: 40px;
    margin-top: 10px;
    margin-left: 85px;
    margin-right: 85px;
}

.header {
    background-color: rgb(3, 245, 160);
    color: rgb(6, 1, 68);
    text-align: center;
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
}

.border {
    outline-color: rgb(6, 1, 68);
    outline-style: solid;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.leftbar {
    background-color: rgb(3, 245, 160);
    color: rgb(6, 1, 68);
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 5px;
}

.responsive {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 50%;
    padding: 10%;
    margin-bottom: -10px;
    margin-top: -10px;
    display: block;
}

.main {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    grid-row: 1/3;
    border-radius: 5px;
}

h2 {
    margin: 10px;
}

p {
    margin: 10px;
}

#contact {
    font-size: 20px;
    margin-top: 20px;
}

#phone {
    width: 20px;
    height: 20px;
    margin: 5px;
}

#line1 {
    border-top: 2px solid rgb(6, 1, 68);
    margin-left: 5px;
    margin-right: 5px;
}